.main-header
  .main-header__left-box
    .main-header__left-box__current-group
      group name
    .main-header__left-box__member-list
      Member:
      .main-header__left-box__member-list__member
        someone
  .main-header__edit-btn
    Edit


.messages
  .messages__message
    .messages__message__upper-info
      .messages__message__upper-info__talker
        someone
      .messages__message__upper-info__date
        2019/11/11/11:11:11
    .messages__message__text
      this is a first message.