.main-header
  .main-header__left-box__current-group

  .main-header__left-box__member-list

    .main-header__left-box__member-list__member

  .main-header__edit-btn



.messages
  .messages__message
    .messages__message__upper-info
      .messages__message__upper-info__talker
      .messages__message__upper-info__date

    .messages__message__text