.side-header
  .side-header__box
    .side-header__box--user-name
      mi
  .side-header__menu
    .side-header__menu--icon
      .side-header__menu--create-group
        creategroup
      .side-header__menu--edit-profile
        editprofile

.groups
  .groups__group
    .groups__group--name
      test
    .groups__group--latest-message
      newest message