.side-bar {
  height: 100%;
  &__header {
    background-color: #253141;
    width: 300px;
    height: 100px;
    display: inline-flex;
    box-sizing: border-box;
    &__box {
      display: flex;
      justify-content: space-between;
      margin: auto 20px auto;
      color: #ffffff;
      width: 100%;
      &__user-name {
        flex-direction: row;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin-left: 0;
        text-align: left;
      }
      &__menu {
        flex-direction: row;
        margin-left: 130px;
        color: #ffffff;
        .fa {
          color: #ffffff;
        }
      }
    }
  }

  &__groups {
    background-color: #2f3e51;
    width: 300px;
    height: calc(100vh - 100px);
    overflow: scroll;
    box-sizing: border-box;
    &__group {
      padding: 20px 20px 40px;
      a {
        text-decoration: none;
      }
      &--name {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #ffffff;
      }
      &--latest-message {
        font-size: 11px;
        font-weight: bold;
        margin-bottom: 40px;
        color: #ffffff;
      }
    }
  }
}
